@import '../../../styles/variables.scss';
@import '../../../styles/mixins/mixins.scss';
@import '../../../styles/mixins/breakpoints.scss';
@import '../../../styles/mixins/grid.scss';

.edit-block-wrapper {
	position: relative;
	box-sizing: border-box;

	&:hover {
		cursor: pointer;
		outline: 3px solid $success;
		outline-offset: -3px;
		box-shadow: inset 3px 3px 18px rgba(0, 255, 41, 0.75), inset -3px -3px 18px rgba(0, 255, 41, 0.75),;
	}

	&__green-light {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		box-shadow: inset 3px 3px 18px rgba(0, 255, 41, 0.50), inset -3px -3px 18px rgba(0, 255, 41, 0.50);
		// &:hover {
		// 	box-shadow: inset 3px 3px 18px rgba(0, 255, 41, 0.50), inset -3px -3px 18px rgba(0, 255, 41, 0.50);
		// }		
	}

	&__block-action-buttons {
		position: absolute;
		top: 20px;
		left: 15px;
		z-index: 10;
	}

	&__block-move-btn {
		position: absolute;
		top: 30px;
		right: 30px;
		z-index: 10;
		@include media-breakpoint-down(sm) {
			top: 20px;
			right: 15px;
		}
	}
}