// @import "components/Footer/styles.scss";

body {
  margin: 0;
  font-family: 'Montserrat', 'Helvetica Neue', sans-serif, 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(153.91deg, #EAF1F9 0%, #E4EFF8 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
