@import "../../styles/variables.scss";


// Helpfull mixins

@mixin centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin hovered-link($blur: 20px, $text-color: $success) {
  color: $text-color;
	text-shadow: 0px 0px $blur $text-color;
}

@mixin success-text($blur: 18px, $text-color: $success) {
  color: $text-color;
	text-shadow: 3px 3px $blur $text-color;
}

@mixin warning-text($blur: 18px, $text-color: $warning) {
  color: $text-color;
	text-shadow: 3px 3px $blur $text-color;
}

@mixin danger-text($blur: 18px, $text-color: $danger) {
  color: $text-color;
	text-shadow: 3px 3px $blur $text-color;
}

@mixin card-styles($border-radius: $card-border-radius) {
  background: $main;
  box-shadow: -10px -10px 30px rgba(255, 255, 255, 0.9), 10px 10px 30px #B3BFC9;
  border-radius: $border-radius;
}

  
// Style reset mixins
  
@mixin reset-link {
  text-decoration: none;
  color: inherit;
}

// Настройка внешнего вида скролл-бара

// Миксина для изменения внешнего вида скроллбара
// Работает не во всех браузерах
// @param {Length} $size - Высота горизонтального и скроллбара и ширина вертикального
// @param {Color} $foreground-color - Цвет скроллбара
// @param {Color} $background-color [mix($foreground-color, white, 50%)] - Цвет скроллбара
// @example scss - Стили скроллбара
//   @include scrollbars(.5em, slategray);

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
  // Для Chrome
  ::-webkit-scrollbar {
      width:  $size;
      height: $size;
  }

  ::-webkit-scrollbar-thumb {
      background: $foreground-color;
  }

  ::-webkit-scrollbar-track {
      background: $background-color;
  }

  // Для Internet Explorer
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}




// Fonts

@mixin display-big-text {
	font-size: 64px;
	line-height: 1.8;
  }
  @mixin display-small-text {
	font-size: 48px;
	line-height: 2.4;
  }
  @mixin h1-pc {
	font-size: 34px;
	font-weight: bold;
  color: $text-primary;
  }
  @mixin h2-pc {
	font-size: 30px;
	font-weight: bold;
  }
  @mixin h3-pc {
	font-size: 28px;
	font-weight: bold;
  }
  @mixin h1-mobile {
	font-size: 26px;
	font-weight: bold;
  color: $text-primary;
  }
  @mixin h4-pc {
	font-size: 25px;
	font-weight: bold;
  }
  @mixin h2-mobile {
	font-size: 24px;
	font-weight: bold;
  }
  @mixin big-button-text {
	font-size: 24px;
	font-weight: bold;
  }
  @mixin h5-pc {
	font-size: 23px;
	font-weight: bold;
  }
  @mixin h6-pc {
	font-size: 21px;
	font-weight: bold;
  }
  @mixin h3-mobile {
	font-size: 21px;
	font-weight: bold;
  }
  @mixin footer-headings-text {
	font-size: 20px;
	font-weight: 500;
  }
  @mixin form-input-text {
	font-size: 20px;
  }
  @mixin main-button-text {
	font-size: 18px;
	font-weight: bold;
  }
  @mixin h4-mobile {
	font-size: 18px;
	font-weight: bold;
  }
  @mixin top-menu-text {
	font-size: 18px;
  }
  @mixin body-big-text {
	font-size: 18px;
	line-height: 1.33;
  }
  @mixin body-middle-text {
	font-size: 16px;
  }
  @mixin footer-button-text {
	font-size: 14px;
	font-weight: bold;
  }
  @mixin mini-text {
	font-size: 14px;
  }
  @mixin body-small-text {
	font-size: 14px;
	line-height: 1.71;
  }
  @mixin forms-content-text {
	font-size: 12px;
	line-height: 1.67;
  }
  @mixin body-very-small-text {
	font-size: 12px;
	line-height: 2;
  }


