@import "../../../styles/variables.scss";
@import "../../../styles/mixins/mixins.scss";
@import "../../../styles/mixins/breakpoints.scss";
@import "../../../styles/mixins/grid.scss";

.footer {
	width: 100%;
	flex: 0 0 auto;
	margin: 0;
	padding: 0;
	height: auto;
	box-shadow: inset 4px 4px 29px 0 #6b7279, inset -12px -12px 29px 0 #272727;
	background: $bg-dark;
	z-index: 500;

		&__container {
			@include make-container();
		}

		&__row {
			@include make-row();
			padding-top: 40px;
			@include media-breakpoint-up(lg) {
				padding-bottom: 70px;
			}	
		}

		&__support {
			@include make-col(3);
			@include media-breakpoint-down(xl) {
				padding-left: 10px;
			}
			@include media-breakpoint-down(lg) {
				@include col-width(6);
			}
			@include media-breakpoint-down(sm) {
				@include col-width(12);
			}

		}

		&__title {
			display: inline-block;
			width: 100%;
			margin-bottom: 24px;
			text-align: left;
			color: $footer-heading;
			@include footer-headings-text;
		}

		&__footer-button {
			margin-bottom: 30px;
		}

		&__learning {
			@include make-col(3);
			@include media-breakpoint-down(lg) {
				@include col-width(6);
				padding-left: 10px;

			}
			@include media-breakpoint-down(sm) {
				@include col-width(12);
				padding-top: 20px;
			}
		}

		&__list-unstyled {
			margin-bottom: 24px;
		}

		&__copyright {
			@include make-col(6);
			padding-top: 100px;
			padding-right: 10px;
			text-align: right;
			@include media-breakpoint-down(lg) {
				@include col-width(12);
				text-align: center;
				padding-right: 0px;
				padding-top: 80px;
				padding-bottom: 30px;
			}
		}

		&__website {
			font-size: 18px;
			font-weight: bold;
			color: $footer-heading;
		}

		&__cppyright-info {
			font-size: 16px;
			color: $footer-heading;
		}

		&__button-link {
			text-decoration: none;
		}
}
.footer-button {
	display: block;
	@include footer-button-text;
	color: $bg-icons;
    text-align: center;
    text-decoration: none;
	box-sizing: border-box;
	cursor: pointer;
	height: 50px;
	padding: 0 40px;
	border: 2px solid transparent;
	border-radius: 50px;
	box-shadow: 3px 3px 24px 0 rgba(0, 0, 0, 0.9), -3px -3px 24px 0 rgba(255, 255, 255, 0.2);
	background-color: transparent;
	background: 
		linear-gradient(170deg, #2D3237 6.15%, #1D1F23 80.89%) padding-box, // linear-gradient(122deg,
		linear-gradient(160deg, #1f2125 8.51%, #2f343a 89.82%) border-box; // linear-gradient(143deg,
	&:hover {
		color: $hoovered-text;
		text-shadow: 0px 0px 14px rgba(253, 105, 7, 0.85);
		background: 
		linear-gradient(350deg, #2D3237 6.15%, #1D1F23 80.89%) padding-box,
		linear-gradient(160deg, #1f2125 8.51%, #2f343a 89.82%) border-box;
		transition: all ease-in 100ms;
	}
}
.list-unstyled {
	list-style: none;
	margin: 0;

		&__item {
			margin-bottom: 15px;
		}

		&__link {
			text-decoration: none;
			color: $footer-main-text;
			&:hover {			
				color: $hoovered-text;
				transition: ease-in 100ms;
			}
		}
}


