@import '../../../styles/variables.scss';
@import '../../../styles/mixins/mixins.scss';
@import '../../../styles/mixins/breakpoints.scss';
@import '../../../styles/mixins/grid.scss';

.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 300;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0 15px;
	box-sizing: border-box;

	&__content {
		position: relative;
		max-width: 480px;
		margin: 130px auto;
		box-sizing: border-box;
		@include card-styles();
		overflow: hidden;
		&_blur {
			box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.4);
		}
		&_solid {
			box-shadow: -20px -20px 54px rgba(255, 255, 255, 0.5), 20px 20px 56px rgba(169, 190, 210, 0.4);
		}
		@include media-breakpoint-down(sm) {
			border-radius: 20px;
		}
	}

	&__close-wrapper {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}

	&__close-button {
		position: absolute;
		top: 20px;
		right: 20px;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		background: linear-gradient(52deg, #DCE4ED 13.65%, #EBF3F9 85.98%);
		box-shadow: -10px -10px 30px rgba(255, 255, 255, 0.4), 10px 10px 30px #D0DAE3;
		z-index: 300;
		cursor: pointer;

		&:hover {
			&:after {
				transform: rotate(180deg) scale(1.1, 1.1);
			}
		}
		&:after {
			content: '';
			display: block;
			width: 60px;
			height: 60px;
			background: url('./img/close-btn.svg') center no-repeat;
			transform: rotate(0deg);
			transition: transform 200ms ease-in-out;
		}
	}

	&__title {		
		width: 80%;
		box-sizing: border-box;
		z-index: 300;
		@include h3-pc;
		padding: 40px 0px 40px 50px;
		color: $text-middle;
		@include media-breakpoint-down(sm) {
			width: 75%;
			padding: 40px 0px 40px 30px;
		}
	}

	&_show-enter {
		transform: translateY(-200%);
	}

	&_show-enter-active {
		transform: translateY(0);
		transition: transform 400ms;
	}

	&_show-exit {
		transform: translateY(0);
	}

	&_show-exit-active {
		transform: translateY(-200%);
		transition: transform 400ms;
	}
}
