@import "../../../../../styles/mixins/mixins.scss";
@import "../../../../../styles/variables.scss";


.dark-round-button-active {
	@include centering;
	width: 42px;
	height: 42px;
	box-sizing: border-box;
	padding: 2px;
	border-radius: 50%;
	cursor: pointer;
	background: 	
		linear-gradient(146.14deg, #101010 0%, #101010 100%) content-box,
		linear-gradient(146.14deg, #151516 0%, #45484A 100%) border-box;

	&__button {
		@include centering;
		width: 33px;
		height: 33px;
		box-sizing: border-box;
		padding: 1px;
		background: 	
			linear-gradient(154.72deg, #373737 0%, #252525 100%) content-box,
			linear-gradient(146.14deg, #45484A 0%, #151516 100%) border-box;
		border-radius: 50%;
	}

	&__icon {
		width: 33px;
		height: 33px;
		&_icon-mobile {
			background: url("../img/mobile.svg") center no-repeat;
		}
		&_icon-mobile-active {
			background: url("../img/mobile-active.svg") center no-repeat;
		}
		&_icon-tablet {
			background: url("../img/tablet.svg") center no-repeat;
		}
		&_icon-tablet-active {
			background: url("../img/tablet-active.svg") center no-repeat;
		}		
		&_icon-pc {
			background: url("../img/pc.svg") center no-repeat;
		}
		&_icon-pc-active {
			background: url("../img/pc-active.svg") center no-repeat;
		}
	}
}
