@import '../../../styles/mixins/mixins.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/mixins/grid.scss';
@import '../../../styles/mixins/breakpoints.scss';

.create-project {
	width: 100%;

	&__container {
		@include make-container();
	}

	&__row {
		@include make-row();
		justify-content: center;
		align-items: center;	
		// @include media-breakpoint-down(sm) {
		// 	padding: 0px 15px 0px 15px;
		// }	
	}

	&__form-container {
		width: 480px;
		border-radius: 50px;
		&_own-container {
			background: $main;
			box-shadow: -20px -20px 54px rgba(255, 255, 255, 0.5), 20px 20px 56px rgba(169, 190, 210, 0.4);
		}
	}

	&__form {
		padding: 0px 50px 50px 50px;
		@include media-breakpoint-down(sm) {
			padding: 0px 15px 20px 15px;
		}
	}

	&__input-basic {
		margin-bottom: 40px;
		@include media-breakpoint-down(sm) {
			margin-bottom: 30px;
		}
	}

	&__button {
		@include media-breakpoint-down(sm) {
			margin-bottom: 35px;
		}
	}

	&__annotation {
		color: $text-secondary;
		font-size: 12px;
		line-height: 2;
		margin-bottom: 45px;
	}

	&__annotation-bold-text {
		font-weight: bold;
	}

	&__annotation-bold-red-text {
		font-weight: bold;
		color: $danger;
	}

}
