@import '../../../styles/variables.scss';
@import '../../../styles/mixins/mixins.scss';
@import '../../../styles/mixins/breakpoints.scss';
@import '../../../styles/mixins/grid.scss';

.project-card {
	width: 100%;

	&__card-container {
		max-width: 980px;
		box-sizing: border-box;
		padding: 40px;
		@include card-styles;
		margin: 0 auto;
		@include media-breakpoint-down(sm) {
			border-radius: 20px;
			padding: 35px 15px;
		}
	}

	&__title {
		@include h1-pc;
		color: $text-primary;
		margin-bottom: 20px;
		@include media-breakpoint-down(sm) {
			@include h2-mobile;
			text-align: center;
			margin-bottom: 30px;
		}
	}

	&__label-container {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		@include media-breakpoint-down(sm) {
			justify-content: center;
		}
	}

	&__status-label {
		margin-bottom: 30px;
	}

	&__buttons-container {
		width: 100%;
		display: flex;
		flex-direction: row;
		@include media-breakpoint-down(md) {
			flex-direction: column;
			align-items: flex-start;
		}
		@include media-breakpoint-down(sm) {
			align-items: center;
		}
	}

	&__button {
		width: 100%;
		@include media-breakpoint-up(sm) {
			// max-width: 280px;
			width: auto;
		}
	}

	&__secondary-button {
		margin-left: 40px;
		@include media-breakpoint-down(md) {
			margin-left: 0px;
			margin-top: 30px;
		}
		@include media-breakpoint-down(sm) {
			width: 100%;
		}
	}

	&__copy-link {
		margin-left: 40px;
		@include media-breakpoint-down(md) {
			margin-left: 0px;
			margin-top: 30px;
		}
	}
}
