@import '../../styles/variables.scss';
@import '../../styles/mixins/mixins.scss';
@import '../../styles/mixins/breakpoints.scss';
@import '../../styles/mixins/grid.scss';

.edit-page {
	position: relative;
	width: 100%;
	min-height: 100vh;

	&__secondary-button {
		display: block;
		width: 500px;
		margin: 50px auto;
	}

	&__page-title {
		margin: 100px auto 0px auto;
		@include media-breakpoint-down(sm) {
			margin-top: 50px;
		}
	}

	&__add-new-button {
		margin: 50px auto 100px auto;
	}
}