@import "/src/styles/variables.scss";
@import "/src/styles/mixins/breakpoints.scss";

.autosave-switcher {
	display: flex;
	align-items: center;
	@include media-breakpoint-down(xl) {
		display: none;
	}

	&__title {
		width: 106px;
		font-size: 12px;
		text-align: center;
	}

	&__toggle {
		width: 84px;
		padding-left: 10px;
	}
}
