@import "/src/styles/variables.scss";
@import "/src/styles/mixins/breakpoints.scss";

.mobile-nav {
	display: none;
	position: relative;
	@include media-breakpoint-down(xl) {
		display: block;
	}

	&__toggle {
		width: 60px;
		height: 60px;
		z-index: 2;
		margin-right: -10px;
		background: url('./img/menu-open.svg') center no-repeat;
		transition: background 0.1s ease-in;
		&_dark-theme {
			background: url('./img/menu-open-light.svg') center no-repeat;
		}
		&_open {
			background: url('./img/menu-close.svg') center no-repeat;
			transition: background 0.1s ease-in;
		}
		&_dark-theme.mobile-nav__toggle_open {
			background: url('./img/menu-close-light.svg') center no-repeat;
		}
	}

	&__autosave-switcher-panel {
	}

	&__list {
		padding: 0 15px;
	}

	&__bar {
		display: block;
		position: fixed;
		// padding: 15px;
		box-sizing: border-box;
		top: 0;
		left: 0;
		right: 0;
		margin-top: 60px;
		z-index: -1;
		height: auto;
		background: $main;
		box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.2);
		transform: translateY(-100%);
		transition: transform 100ms ease-in;
	}

	&__bar.mobile-nav__bar_open {
		transform: translateY(0px);
	}

	&__item {
		display: block;
		width: 100%;
		height: 65px;
		line-height: 65px;
		text-align: center;
		&:nth-last-child(n+2):after {
			content: '';
			display: block;
			width: 100%;
			height: 5px;
			background: #DBE6EF;
			box-shadow: inset 0px -1px 3px rgba(255, 255, 255, 0.65), inset 0px 1px 3px #A4B9C9;
			border-radius: 5px;
		}
	}

	&__link {
		text-decoration: none;
		color: $text-secondary;
		font-size: 16px;
	}
}

.autosave-switcher-panel {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	height: 85px;
	padding: 0 20px;
	color: $text-secondary;
	box-shadow: -10px -10px 30px rgba(255, 255, 255, 0.9), 10px 10px 30px #B3BFC9;
	&__toggle {
		margin-right: 20px;
	}
	&__name {
		padding-right: 20px;
	}
}