@import "/src/styles/variables.scss";
@import "/src/styles/mixins/mixins.scss";
@import "/src/styles/mixins/breakpoints.scss";
@import "/src/styles/mixins/grid.scss";

.bread-crumbs {
	display: flex;
	align-items: center;
	height: 60px;
	@include media-breakpoint-down(lg) {
		display: none;
	}

	&_mobile-version {
		display: flex;
		align-items: center;
		@include media-breakpoint-up(lg) {
			display: none;
		}
	}

	&__list {
		margin: 0;
		list-style: none;
	}

	&__item {
		display: inline-block;
		height: 50px;
		border-radius: 10px;
		line-height: 50px;
		padding-left: 40px;
		padding-right: 20px;
		cursor: pointer;
		&:hover {
			background: linear-gradient(180deg, #E0EBF3 0%, #F0F4F8 100%);
			box-shadow: inset -2px -2px 11px rgba(255, 255, 255, 0.25), inset 2px 2px 11px #C6D2DC;
		}
		&_dark-theme {
			&:hover {
				background: linear-gradient(0deg, #2F2F2F 21.21%, #121212 76.96%);
				box-shadow: inset -3px -3px 10px #434343, inset 3px 3px 10px #000000;
			}
		}
	}

	&__link {
		display: block;
		height: 50px;
		line-height: 50px;
		text-decoration: none;
		color: inherit;
  		@include body-middle-text;
		  &:before {
			  content: '';
			  position: absolute;
			  width: 22px;
			  height: 50px;
			  margin-left: -30px;
			  background-image: url('./img/i-back-dark-mini.svg');
			  background-position: center;
			  background-repeat: no-repeat;
		  }
		
		  &_dark-theme {
			&:before {
				content: '';
				position: absolute;
				width: 22px;
				height: 50px;
				margin-left: -30px;
				background-image: url('./img/i-back-light-mini.svg');
				background-position: center;
				background-repeat: no-repeat;
			}
		}
	}
}