@import "/src/styles/variables.scss";
@import "/src/styles/mixins/mixins.scss";
@import "/src/styles/mixins/breakpoints.scss";
@import "/src/styles/mixins/grid.scss";

.bread-crumbs {
	@include media-breakpoint-down(lg) {
		display: none;
	}

	&_mobile-version {
		display: block;
		@include media-breakpoint-up(lg) {
			display: none;
		}
	}

	&__list {
		margin: 0;
		list-style: none;
	}

	&__item {
		display: inline-block;
		line-height: 60px;
		padding-left: 40px;
		padding-right: 20px;
		cursor: pointer;
		&:hover {
			background: linear-gradient(to top, #f0f4f8, #e1eaf1);
		}
		&_dark-theme {
			&:hover {
				background: linear-gradient(to top, #3e3e3e, #000000);
			}
		}
	}

	&__link {
		display: inline;
		text-decoration: none;
		color: inherit;
  		@include body-middle-text;
		  &:before {
			  content: '';
			  position: absolute;
			  width: 22px;
			  height: 60px;
			  margin-left: -30px;
			  background-image: url('./img/i-back-dark-mini.svg');
			  background-position: center;
			  background-repeat: no-repeat;
		  }
		
		  &_dark-theme {
			&:before {
				content: '';
				position: absolute;
				width: 22px;
				height: 60px;
				margin-left: -30px;
				background-image: url('./img/i-back-light-mini.svg');
				background-position: center;
				background-repeat: no-repeat;
			}
		}
	}
}