@import '../../../styles/variables.scss';

@mixin create-blur($blur-radius: 4px, $old-browser-value: 4) {
	filter: url(./img/blur.svg#blur);
	-webkit-filter: blur($blur-radius);
	filter: blur($blur-radius);
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='#{$old-browser-value}');
}


.popup-backdrop {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow-y: hidden;
	z-index: 200;
	// margin-right: 15px;
	&_alert {
		animation: anim-alert-blur 3s ease-out; //Время анимации должно быть равно таймауту алерта
	}
	&_popup-blur {
		animation: anim-popup-blur 1s ease-out; 
		animation-fill-mode: forwards;
	}
	&_popup-solid {
		
	}
	

	&__darkening {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background: rgba(27, 52, 81, 0.3);
		z-index: 200;
		&_alert {
			animation: anim-alert-darkening 3s ease-out; //Время анимации должно быть равно таймауту алерта
		}
		&_popup-blur {
			animation: anim-popup-darkening 1s ease-out; //Время анимации должно быть равно таймауту алерта
		}
		&_popup-solid {
			background: $main;
		}
		
	}

}


@keyframes anim-alert-blur {
	from {
		@include create-blur(0px, 0)
	} 10% {
		@include create-blur(4px, 4)
	} 90% {
		@include create-blur(4px, 4)
	} to {
		@include create-blur(0px, 0)
	}
}

@keyframes anim-alert-darkening {
	from {
		opacity: 0;
	} 10% {
		opacity: 1;
	} 90% {
		opacity: 1;
	} to {
		opacity: 0;
	}
}

@keyframes anim-popup-blur {
	from {
		@include create-blur(0px, 0)
	} to {
		@include create-blur(4px, 4)
	}
}

@keyframes anim-popup-darkening {
	from {
		opacity: 0;
	} to {
		opacity: 1;
	}
}