@import '../../../styles/variables.scss';
@import '../../../styles/mixins/grid.scss';
@import '../../../styles/mixins/breakpoints.scss';

$delay: 500ms; // Задержка анимации

@mixin create-blur($blur-radius: 4px, $old-browser-value: 4) {
	filter: url(./img/blur.svg#blur);
	-webkit-filter: blur($blur-radius);
	filter: blur($blur-radius);
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='#{$old-browser-value}');
}

.popup-backdrop {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	z-index: 200;
	transition: filter $delay;


	&_simple {
		overflow-y: hidden;
	}

	&_show {
		@include create-blur(4px, 4);
		overflow-y: hidden;
		transition: filter $delay;
		padding-right: 15px;

		@include media-breakpoint-down(md) {
			padding-right: 0px;
		}
	}

	&_without-padding {
		padding-right: 0px;
	}

	&__darkening {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		visibility: hidden;
		opacity: 0;
		transition: all $delay;
		z-index: 800;
		// z-index: 200;
		overflow-y: hidden;

		&_blur {
			background: rgba(27, 52, 81, 0.3);
		}

		&_solid {
			background: $main;
		}

		&_show {
			opacity: 1;
			visibility: visible;
			animation: test 4000ms;
		}

	}
}
