@import '../../../styles/variables.scss';

.textarea-basic {
	display: block;
	width: 100%;
	height: 210px;
	font-size: 20px;
	color: $text-secondary;
	background: linear-gradient(103.43deg, #DDE7F3 18.98%, #EBF3F9 95.42%);
	box-shadow: inset -3px -3px 10px rgba(255, 255, 255, 0.84), inset 3px 3px 10px #B6C1CD;
	border-radius: 30px;
	box-sizing: border-box;
	padding: 20px;
	resize: none;

	&:focus:focus::-webkit-input-placeholder { color: #c3ccdd; }
	&:focus:-moz-placeholder { color: #c3ccdd; } 
	&:focus::-moz-placeholder { color: #c3ccdd; } 
	&:focus:-ms-input-placeholder { color: #c3ccdd; }

	&__label {
		display: block;
 		font-size: 20px;
  		margin-bottom: 15px;
  		color: $text-secondary;
	}

	&_invalid-input {
		box-shadow: 
		inset 0px 2px 0px $danger, 
		inset 0px -2px 0px $danger, 
		inset 2px 0px 0px $danger, 
		inset -2px 0px 0px $danger;
	}

}