@import '../../../styles/variables.scss';
@import '../../../styles/mixins/mixins.scss';

.show-menu-btn {
	width: 50px;
	height: 50px;
	margin-left: 15px;
	margin-top: 15px;
	border-radius: 50%;
	background: linear-gradient(128.65deg, #E7F0F9 2.72%, #EAF2FC 95.48%);
	box-shadow: -4px -4px 19px rgba(255, 255, 255, 0.7), 4px 4px 30px #B3BFC9;
	z-index: 50;
	cursor: pointer;

	&__menu {
		position: relative;
	}

	&__menu-list {
		position: absolute;
		top: 25px;
		right: 25px;
		width: 260px;
		margin: 0px;
		list-style: none;
		background: #F2F5F9;
		box-shadow: 3px 3px 21px #C0CCD8;
		border-radius: 10px;
		overflow: hidden;

		&_show-enter {
			transform: scale(0, 0);
			transform-origin: top right;

		}
	
		&_show-enter-active {
			transform: scale(1, 1);
			transition: transform 400ms;
		}
	
		&_show-exit {
			transform: scale(1, 1);
			transform-origin: top right;
		}
	
		&_show-exit-active {
			transform: scale(0, 0);
			transition: transform 400ms;
		}
	}

	&__menu-list-item {
		width: 100%;
		height: 60px;
		display: block;
		text-align: center;
		line-height: 60px;
		font-size: 16px;

		&:hover {
			background: #EFF4F9;
			box-shadow: inset -1px -1px 20px rgba(255, 255, 255, 0.9), inset 1px 1px 10px #B6C1CD;
		}
	}


	&__icon {
		width: 100%;
		height: 100%;
		background: url('./img/dots.svg') center no-repeat;
		// transition: opacity 0.1s ease-in;
		// opacity: 1;

		// &_open {
		// 	background: url('./img/open.svg') center no-repeat;
		// 	transition: opacity 0.1s ease-in;
		// }
	}


}