@import '../../../styles/variables.scss';
@import '../../../styles/mixins/mixins.scss';
@import '../../../styles/mixins/breakpoints.scss';
@import '../../../styles/mixins/grid.scss';

.confirm {

	// &_basic {
	// 	color: $text-primary;
	// }
	// &_success {
	// 	@include success-text();
	// }
	// &_warning {
	// 	@include warning-text();
	// }
	// &_danger {
	// 	@include danger-text();
	// }

	&__content {
		box-sizing: border-box;
		max-width: 480px;
		font-size: 18px;
		text-align: center;
		background: $main;
		box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.4);
		border-radius: 50px;
		padding: 40px 50px;
		margin: 130px auto;
		@include media-breakpoint-down(sm) {
			max-width: 345px;
			padding: 20px 30px;
		}
	}

	&__message {
		color: $text-primary;
		margin-bottom: 40px;
	}

	&__buttons-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&__small-button {
		width: 180px;
	}

}