@import "/src/styles/variables.scss";
@import "/src/styles/mixins/mixins.scss";
@import "/src/styles/mixins/breakpoints.scss";
@import "/src/styles/mixins/grid.scss";

.logo {
	display: block;
	background-image: url("./img/logo.svg");
	width: 70px;
	height: 30px;

	&_dark-theme {
		background-image: url("./img/logo-dark-theme.svg");
	}

	&_hide-on-small-devices {
		@include media-breakpoint-down(sm) {
			display: none;
		}
	}
}