@import '../../styles/variables.scss';
@import '../../styles/mixins/breakpoints.scss';
@import '../../styles/mixins/grid.scss';

.projects-page {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	padding: 0px 15px 40px 15px;


	&__add-new-button {
		margin-top: 90px;
		margin-bottom: 70px;
		@include media-breakpoint-down(sm) {
			margin: 50px 0px;
		}
	}

	&__project-card {
		margin-bottom: 60px;
		@include media-breakpoint-down(sm) {
			margin-bottom: 50px;
		}
	}

}
