// Colors

$main: #E7F0F8;
$text-primary: #22304a;
$success: #0fbc00;
$danger: #e75050;
$warning: #ceae04;
$text-middle: #7888a3;
$text-secondary: #656565;
$bg-icons: #c4c4c4;
$footer-heading: #84888c;
$footer-main-text: #ffffff;
$hoovered-text: #fd6907;

// Fonts

